#run
  %h1= "Running #{@encounter.name}"
  %p
    = render :partial => "characters/list", :locals => {:characters => @encounter.characters}

    %button#previous previous round
    %button#next next round
