%table.characters_list
  %tr
    %th Name
    %th Base Initiative

  - characters.each do |character|
    %tr{:id => character.id, :class => 'character'}
      %td= character.name
      %td= character.base_initiative
