%p
  %b Name:
  = @character.name
%p
  %b Initiative:
  = @character.initiative

= link_to 'Edit', edit_campaign_character_path(@campaign, @character)
\|
= link_to 'Back', campaign_characters_path(@campaign)
