%table{:id => "abilities"}
  %tr
    %td
      ability
    %td
      score
    %td
      modifier
  %tr
    %td.ability
      Str
    %td.score
      8
    %td.modifier
      -1
  %tr
    %td.ability
      Dex
    %td.score
      8
    %td.modifier
      -1
  %tr
    %td.ability
      Con
    %td.score
      8
    %td.modifier
      -1

  %tr
    %td.ability
      Int
    %td.score
      8
    %td.modifier
      -1
  %tr
    %td.ability
      Wis
    %td.score
      8
    %td.modifier
      -1
  %tr
    %td.ability
      Cha
    %td.score
      8
    %td.modifier
      -1

#skills
    